@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  background: linear-gradient(180deg, #2d3250 0%, #424769 25%, #f5f5f4 25%);
  min-height: 100vh;
}
